<footer id="footer">
    <div id="footer-main" class="small text-muted">
        <ul class="list-inline">
            <li class="pull-right"><a href="#top">回到顶部</a></li>
            <li><a href="https://github.com/enincc/myBBS"><strong>本站源码</strong></a></li> ·
            <li><a href="http://todo.enin.cc/"><strong>Todo</strong></a></li> ·
            <li><a href="http://chat.enin.cc/"><strong>聊天室</strong></a></li>
        </ul>
        <p></p><span class="text-muted">Enin's 的个人社区</span>
    </div>
</footer>