{% import 'macro/panels.html' as panels %}
{% if user %}
    {{ panels.panel_profile('用户信息', user) }}
{% elif author %}
    {{ panels.panel_profile('作者', author) }}
{% elif g.user %}
    {{ panels.panel_profile('个人信息', g.user) }}
{% endif %}
{% if g.user %}
    {{ panels.panel_button(href=url_for('topic.create'), caption='发布话题') }}
{% else %}
    {% call panels.panel('Enin的个人社区') %}
        <div class="text-center">
            你可以 <a href="{{ url_for('index.login') }}" class="btn btn-primary btn-xs">登录</a> 或
            <a href="{{ url_for('index.register') }}" class="btn btn-primary btn-xs">注册</a>
        </div>
    {% endcall %}
{% endif %}
