{%- macro list(ts) %}
    <ul class="list-group">
        {% for t in ts %}
            <li class="list-group-item">
            {% if t is none %}
                已删除的主题
            {% else %}
                <span class="badge">{{ t.num_of_replies() }}/{{ t.views }}</span>
                <a href="{{ url_for('user.profile', username=t.user().username) }}">
                    <img class="user-avatar-sm" src="{{ t.user().user_avatar }}">
                </a>
                <span class="label label-default">{{ t.board_title() }}</span>
                <a class="lead" href="{{ url_for('topic.detail', t_id=t.id) }}"
                   title="{{ t.title }}">  {{ t.title }}</a>
                <span class="last-time">
                    {% if t.last_reply() %}
                        <a href="{{ url_for('topic.detail', t_id=t.id, _anchor=t.num_of_replies()) }}">
                            <img class="user-avatar-xs" src="{{ t.last_reply().user().user_avatar }}">
                        </a>
                    {% endif %}
                    <small><span class="time-stamp text-muted">{{ t.updated_time }}</span></small>
                </span>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro -%}

{% macro pagination(page, pages, b_id, url='index.index', id=-1) %}
    <ul class="pagination pagination-sm">
        {% set len = 4 %}
        {% if page - len > 1 %}
            {% set begin = page - len %}
        {% else %}
            {% set begin = 1 %}
        {% endif %}
        {% if begin + len*2 < pages %}
            {% set end = begin + len*2 %}
        {% else %}
            {% set end = pages %}
        {% endif %}
        {% if begin == 1 %}
            <li class="disabled"><a href="{{ url_for(url, board_id=b_id|default(-1), page=1, id=id) }}">&laquo;</a>
            </li>
        {% else %}
            <li><a href="{{ url_for(url, board_id=b_id|default(-1), page=1, id=id) }}">&laquo;</a></li>
            <li class="disabled"><a href="#">...</a></li>
        {% endif %}
        {% for p in range(begin, end + 1) %}
            {% if p == page %}
                <li class="active"><a href="{{ url_for(url, board_id=b_id|default(-1), page=p, id=id) }}">{{ p }}</a>
                </li>
            {% else %}
                <li><a href="{{ url_for(url, board_id=b_id|default(-1), page=p, id=id) }}">{{ p }}</a></li>
            {% endif %}
        {% endfor %}
        {% if end == pages %}
            <li class="disabled"><a
                    href="{{ url_for(url, board_id=b_id|default(-1), page=pages, id=id) }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">...</a></li>
            <li><a href="{{ url_for(url, board_id=b_id|default(-1), page=pages, id=id) }}">&raquo;</a></li>
        {% endif %}
    </ul>
{% endmacro %}